.content-layer {
  position: fixed;
  top: 50px;
  right: 50px;
  z-index: 1000;
  background-color: transparent;
}

form {
  width: 300px;
  height: 400px;
  padding: 30px;
  background-color: #00251a;
}

form > h5 {
  color: white;
}

button {
  margin: 10px;
}

textarea {
  height: 200px;
  resize: none;
}
